@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Readex+Pro:wght@700&display=swap')
	;

@font-face {
	font-family: 'KOTRA_BOLD-Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 20px;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.6;
}

.d-none {
	display: none;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}
/*************header****************/
header.main-header { /* header 태그중 클래스값이 main-header인 요소를 선택, 종속 선택자 */
	background-image: url("../images/visual.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 1080px;
	overflow: hidden;
}

.burger img {
	width: 2rem;
}

.container {
	max-width: 1190px;
	margin: 0 auto;
}

.height1080 {
	height: 1080px;
}

.main-header>.container {
	display: flex;
	column-gap: 38.35rem;
	align-items: baseline;
	color: white;
	font-size: 1.5rem;
	margin-top: 2rem;
}

.name {
	font-family: 'Readex Pro', 'Noto Sans KR', sans-serif;
}

.name p:hover {
	color: black
}

.header-word {
	text-align: center;
}

.header-word h2 {
	font-family: 'KOTRA_BOLD-Bold', 'Noto Sans KR', sans-serif;
	margin-top: 5rem;
	color: black;
	font-size: 3rem;
}

.header-word p {
	margin-top: 1rem;
	color: white;
}

.more {
	border: 1px solid black;
	border-radius: 1.5rem;
	width: 4rem;
	text-align: center;
	margin: 1rem auto;
	font-size: .8rem;
}

/**************section***************/
.list {
	text-align: center;
	font-size: 2rem;
	padding: 2rem;
}

.list-img {
	margin: 0 auto;
	width: 1.5rem;
}

.list p {
	display: inline;
	border-bottom: 1px solid black;
	text-transform: capitalize;
}

.about-table {
	margin: 3.25rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
}

.firstline, .secondline {
	display: flex;
	column-gap: 5rem;
	justify-content: space-around;
}

.about-icon {
	width: 12rem;
}

.about-icon span {
	vertical-align: super;
	font-size: 1.4rem;
}

.about-icon p {
	font-size: 1.6rem;
}

.who, .birth, .where, .phone, .email, .mbti {
	width: 2.5rem;
}

.comment {
	margin: 3rem auto auto 4rem;
	font-size: 2rem;
}

.yellowfield {
	background-color: #F9E000;
}

/**********************second article***********************/
.project-img img {
	width: 15rem;
	object-fit: cover;
	transition: all .3s;
	overflow: visible;
}

.project-img img:hover {
	transform: scale(1.2);
}

.prev {
	opacity: 0.3;
	margin-top: 5rem;
	float: left;
	border: 1px solid trnasparent;
}

.prev:hover, .next:hover {
	opacity: 1;
}

.next {
	opacity: 0.3;
	float: right;
	margin-top: 5rem;
	position: absolute;
	right: 18%;
	border: 1px solid trnasparent;
}

/************carousel***********/
.carousel {
	max-width: 880px;
	height: 300px;
	overflow: hidden;
	margin: 1rem auto;
	clear: both;
}

.carousel div img {
	float: left;
}

#projects {
	height: 300px;
	width: 600%;
	transition: all ease-in-out 1s;
	/*width 는 프로젝트 수만큼 곱해줘야함*/
}

.project {
	width: 880px;
	float: left;
}

.project-desc {
	text-indent: 2rem;
	margin-top: 2rem;
}

.project-desc p:first-child {
	text-indent: 2.2rem;
	font-size: 1.3rem;
}

.project-desc p:last-child {
	font-size: 1.1rem;
}

.p-comment {
	font-size: 2rem;
	
	margin: 6rem 0 0 6rem;
}
/*************aside****************/
/*************footer****************/

/****미디어 태그****/
@media screen and (max-width: 480px) {
	body {
		background-color: white;
	}
}